.box {
    width: 100px;
    height: 100px;
}
.box-dom{
    width: 300px;
    height: 200px;
    border: 25px solid #e8c48f;
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
}
#cyrcle {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 100%;
    top: 300px;
    right: 600px;
}